{% extends 'shop/basic.html' %} {% block title %}Checkout {% endblock %} {% block body %}
<div class="container">
  <div class="col my-4">
    <h2>Step-1 Tech Heaven Checkout - Review Your Cart Items</h2>
    <div class="my-4">
      <ul class="list-group" id="items">
      <!-- Items display here from javascript -->
      </ul>
      <nav aria-label="breadcrumb">
  <ol class="breadcrumb mt-3">
    <li class="breadcrumb-item active" aria-current="page">Your Cart Total is <b>Rs. <span id="totalPrice"></span></b>
    <i>Enter Your Details below and place your order.</i> Thanks for using Tech Heaven.
    </li>
  </ol>
</nav>
    </div>
  </div>
  <div class="col my-4">
    <h2>Step-2 Enter address and other details</h2>
    <form method="post" action="/shop/checkout/">
      {% csrf_token %}
      <input type="hidden" name = "itemsjson" id="itemsjson">
      <input type="hidden" name = "amount" id="amount">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputname">Name</label>
          <input type="text" placeholder="Name" class="form-control" id="name" name="name" />
        </div>
        <div class="form-group col-md-6">
          <label for="inputEmail4">Email</label>
          <input type="email" placeholder="Email ID" class="form-control" name="email" id="email" />
        </div>
      </div>
      <div class="form-group">
        <label for="inputAddress">Address</label>
        <input type="text" class="form-control" name="address1" id="address1" placeholder="1234 Main St" />
      </div>
      <div class="form-group">
        <label for="inputAddress2">Address Line 2</label>
        <input type="text" class="form-control" name="address2" id="address2" placeholder="Apartment, studio, or floor" />
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputCity">City</label>
          <input type="text" placeholder="Enter City" class="form-control" name="city" id="city" />
        </div>
        <div class="form-group col-md-4">
          <label for="inputState">State</label>
          <input type="text" class="form-control" id="state" name="state" placeholder="Enter State" />
        </div>
        <div class="form-group col-md-2">
          <label for="inputZip">Zip</label>
          <input type="text" placeholder="Pincode" class="form-control" name="zip" id="zip" />
        </div>
      </div>
      <div class="form-group">
        <label for="inputZip">Phone Number</label>
        <input type="tel" placeholder="Number" class="form-control" name="phone" id="phone" />
      </div>
      <button type="submit" class="btn btn-primary">Place Order</button>
    </form>
  </div>
</div>
{% endblock %}
{% block js %}
<script>
if (localStorage.getItem('cart') == null) {
    var cart = {};
} else {
    cart = JSON.parse(localStorage.getItem('cart'));
}
var sum=0;
var totalPrice=0;
if ($.isEmptyObject(cart)){
  mystr = `<p>Your Cart is Empty Please Add some items before checking out</p>`
          $('#items').append(mystr);
          
}
else{
  for (item in cart){
    let name = cart[item][1];
    let qty = cart[item][0];
    let itemprice = cart[item][2];
    sum = sum  + qty;
    totalPrice = totalPrice+qty*itemprice;
    mystr = `<li class="list-group-item d-flex justify-content-between align-items-center">
            ${name}
              <span class="badge badge-primary badge-pill">${qty}</span>
            </li>`
          $('#items').append(mystr);
      }

}
document.getElementById('cart').innerHTML = sum;
document.getElementById('totalPrice').innerHTML = totalPrice;
$('#itemsjson').val(JSON.stringify(cart));
{% if thank %}
alert('Thanks For Ordering with us. Your Order ID is {{id}}. Use it to track your order')
localStorage.clear();
document.location="/shop";
{% endif %}
$('#amount').val($('#totalPrice').html())
</script>
{% endblock %}